<!DOCTYPE html>
<html lang="en" ng-app="client">
<head>
    <meta charset="UTF-8">
    <title>clientside page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://s3.amazonaws.com/chanshingfung/client.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div ng-controller="menu">
<span ng-controller="loginuser">
    <form ng-show="!log">
        <label> Username:</label>
      <input type="text" ng-model="users" ng-show="log!=true" required>
      <label>password:</label> <input type="password" ng-model="passwords" ng-show="log!=true" required>
      <input type="submit" class="btn btn-default" value="Login" ng-click="logins()" ng-show="log!=true">
      <input type="reset" class="btn btn-primary" value="reset">
    </form>
    <span ng-show="log">Hello, welcome to this page,{{username}}!</span><br/>
    <br/>
    </span>
    <h1>Show the menu data</h1>
<table ng-if="menuList != null " class="table table-hover" ng-hide="menulist ==n  ull">
    <tr>
        <td>username</td>
        <td>name</td>
        <td>material</td>
        <td>cookingway</td>
    </tr>
    <label>Search:</label><br/>
    <input type="text" ng-model="search">
    <tr ng-repeat= "datas in menulist  | filter:search  track by $index">
        <td>{{datas.username}}</td>
        <td>{{datas.name}}</td>
        <td>{{datas.material}}</td>
        <td>{{datas.cookingway}}</td>
    </tr>
</table>
<button class="btn btn-default" ng-click="displaymenu()">show menu data</button><br/>
<br/>
</div>

<div ng-controller="addmenu" class="form-group" ng-form="testForm">
    <h1>Insert the data to database</h1>
        <label>username:</label><br/>
        <input type="text" class="form-control" name="username" placeholder="username" ng-model="username" required/><br/>
        <label>password:</label><br/>
        <input type="password" class="form-control" name="password" placeholder="password" ng-model="password" required/><br/>
        <label>name:</label><br/>
        <input type="text" class="form-control" name="name" placeholder="name" ng-model="name" required/><br/>
         <label>material:</label>
        <input type="text" class="form-control" name="material"   placeholder="Enter your material" ng-model="material" required><br/>
        <label>cookingway:</label><br/>
        <input type="text" class="form-control"  name="cookingway" placeholder="1.cooking" ng-model="cookingway" required><br/>
        <input type="button" class="btn" value="Add user" ng-click="Insertmenu()" ng-disabled="Form.$invalid"/>
        <input type="reset" class="btn btn-primary" value="reset"/>
</div>



<br/>
<br/>

        
<div ng-controller="updatemenu" class="form-group" ng-form="myForm" ng-show=log>
    <h1>Update user information</h1>
        <label>id:</label>
        <input type="number" min="0" name="id" placeholder="enter userid" ng-model="id" required><br/>
        <label>username:</label><br/>
        <input type="text" class="form-control" name="username" placeholder="username" ng-model="username" required/><br/>
        <label>password:</label><br/>
        <input type="password" class="form-control" name="password" placeholder="password" ng-model="password" required/><br/>
        <label>name:</label><br/>
        <input type="text" class="form-control" name="name" placeholder="name" ng-model="name" required/><br/>
        <label>material:</label>
        <input type="text" class="form-control" name="material"   placeholder="Enter material" ng-model="material" required><br/>
        <label>cookingway:</label><br/>
        <input type="text" class="form-control"  name="cookingway" placeholder="cookingway" required><br/>
        <input type="button" value="update" ng-click="updatemenu()" ng-disabled="myForm.$invalid"/>
                <input type="reset" class="btn btn-primary" value="reset"/>
</div>
<br/>

<div ng-controller="deletemenu" class="form-group" ng-form="test" ng-show="log">
    <h1>Delete the menu data</h1>
    <label>id:</label><br/>
    <input ng-model="id" min="0" placeholder="input menu to delete menu data">
    <br/>
    <button ng-click="deletmenu()" ng-disabled="test.$invalid"/>deletmenur</button><br/>
    <input type="reset" value="reset"/>
</div>

</body>
</html>